body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: content-box;
}

.Form {
  padding: 100px;
  background-color: rgb(238, 192, 238);
  text-align: center;
}

input[type=text], input[type=password], input[type=date] {
  width: 20%;
  padding: 10px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: narrow;
  background: white;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
  background-color: #c5d3d2;
  outline: narrower;
}

hr {
  border: 1.5px solid #3e4141;
  margin-bottom: 15px;
}

.registerbtn {
  background-color: black;
  color: white;
  padding: 15px 15px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 1;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  margin: 20px;
}

.chat {
  margin: 1px;
  width: 100%;
  border: 2px solid rgb(1, 0, 10);
  border-radius: 10px;
  padding: 5px;
}

.hide {
  display: none;
}
button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  right : 100%;
  color: whitesmoke;
  background-color: rgb(28, 28, 112);
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}